.footer{
    background: var(--purple-600);
    color: white;
    margin-bottom: 0;
    padding: 40px 20px;

}

.footer-container{

    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    text-align: center;

}

.footer-brand h2{

    margin-bottom: 10px;

}

.footer-brand p{

    opacity: 0.7;
    max-width: 500px;

}

.footer-social{

    display: flex;
    gap: 20px;
    font-size: 22px;

}

.footer-social a{

    color: white;
    transition: 0.2s;

}

.footer-social a:hover{

    transform: scale(1.2);
    opacity: 0.8;

}

.footer-copy{

    font-size: 14px;
    opacity: 0.6;

}